.comments-list {
    margin-bottom: 20px;
    &__item {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 5px;
    }
    &__content {

    }
    &__vote-score {

    }
    &__actions {

    }
}
