@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/******* Variables ********/
/******* Mixins **********/
/******* Utilities ********/
.u-list-reset-styles {
  list-style: none;
  padding: 0;
  margin: 0; }

.u-mr-10 {
  margin-right: 10px; }

.u-mb-10 {
  margin-bottom: 10px; }

.u-text-light {
  color: #aeaeae; }

.u-orange {
  color: #EE5622 !important; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #221E22;
  background-color: #f4f4f4 !important; }

h1, h2, h3, h4 {
  font-weight: 300 !important; }
  h1 a, h2 a, h3 a, h4 a {
    font-weight: 300;
    text-transform: none;
    color: #EE5622; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
      color: #e54712; }

h1:not(.logo) {
  font-size: 36px !important;
  margin-bottom: 30px !important; }

a:hover, a:focus, a:visited {
  text-decoration: none !important; }

.app-content {
  padding: 50px 0; }

.header {
  background-color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px; }
  .header__links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
  .header h1 {
    line-height: 1;
    margin: 0; }
    .header h1 a {
      display: block;
      font-size: 28px;
      font-weight: 300;
      color: #221E22;
      line-height: 1; }
  .header .button {
    padding: 0; }
    .header .button a {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      color: #fff;
      padding: 11px 15px; }
    .header .button .fa {
      margin-right: 5px; }

.home-sidebar {
  padding-top: 40px; }
  .home-sidebar h3 {
    font-size: 18px;
    color: #aeaeae;
    margin-bottom: 15px; }
  .home-sidebar li {
    padding-left: 13px;
    margin-bottom: 10px;
    border-left: 3px solid #dedede;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .home-sidebar li:hover {
      border-left: 6px solid #EE5622; }
      .home-sidebar li:hover a {
        color: #EE5622; }
    .home-sidebar li a {
      display: block;
      color: #221E22;
      -webkit-transition: color 0.1s ease-in;
      -moz-transition: color 0.1s ease-in;
      transition: color 0.1s ease-in; }

.form--post textarea {
  min-height: 200px; }

.form-control {
  border-radius: 2px !important; }

.sort-select {
  font-size: 13px;
  margin-bottom: 10px; }
  .sort-select form {
    justify-content: flex-end; }
  .sort-select label {
    margin-right: 5px; }

.vote-score-controls > span {
  cursor: pointer; }

.vote-score-controls .fa {
  font-size: 20px; }

.button {
  cursor: pointer;
  border: none !important;
  border-radius: 2px !important; }
  .button--submit {
    color: #fff !important;
    background-color: #EE5622 !important; }
    .button--submit:hover {
      background-color: #e54712 !important; }
      .button--submit:hover a {
        color: #fff !important; }
  .button .fa {
    font-size: 18px; }
  .button + .button {
    margin-left: 10px; }

.actions-block {
  font-size: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  .actions-block .fa {
    color: #221E22;
    cursor: pointer;
    -webkit-transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in; }
    .actions-block .fa:not(:last-of-type) {
      margin-right: 10px; }
    .actions-block .fa:hover {
      color: #EE5622; }

.error-message {
  font-size: 13px;
  color: #EE5622; }

.modal-title {
  font-size: 20px; }

.categories-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-right: 15px; }
  .categories-list__item a {
    display: block;
    padding: 9px 13px;
    color: #221E22;
    cursor: pointer;
    -webkit-transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in; }
    .categories-list__item a:hover {
      color: #EE5622; }

.post {
  background-color: #fff;
  border: 1px solid #ECA72C;
  margin-bottom: 50px;
  padding: 20px; }
  .post__headline {
    font-size: 22px; }
  .post__info {
    font-size: 13px;
    color: #aeaeae;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
  .post__content {
    margin-bottom: 30px; }

.posts-list__item {
  border: none;
  margin-bottom: 20px; }

.comments-list {
  margin-bottom: 20px; }
  .comments-list__item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px; }
  .comments-list__vote-score {
    font-size: 13px;
    color: #aeaeae; }
